.li{
    list-style: none;
}
header > h1 {
     margin-left: 47%;
}
header > ul{
    text-align: center;
    padding: 14px;
    margin-top: -10%;
    margin-left: 28%;
}
header > img{
    width: 11%;
   margin-top: -6%;

}
section > h2{
    margin-top: 6%
}