header{
    background-color: #2d5e4c;
    background-size: 1400px 700px;
    padding: 2px;
}


header > h1 {
     margin-left: 47%;
}

header > img{
    width: 11%;
   margin-top: -6%;

}
.divv{
    background-color: #4f784e;
    color: black;
    padding: 1px;
    
}
body{
    background-image: url(img/koala-630117_1280.jpg) ; 
    background-repeat: no-repeat;
    background-size: 1400px 1100px;
    background-position: center;
    color: aliceblue;
}
.koala{
    background-image: url(img/koala-446876_640.jpg);
    background-size: 1700px 900px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    background-position: 1px;
    padding: 3px;
}
header div ul{
    list-style: none;
}
footer ul{
    list-style: none;
    display: flex;
    padding: 20px;
}
