header{
    background-color: #2d5e4c;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #4f784e;
}
.koala{
    background-image: url(img/koala-446876_640.jpg);
    background-repeat: no-repeat;
    padding: 250px;
    background-size: cover;
    text-align: center;
    color: greenyellow;
    background-position: center;
}

.botao {
    background-image: url(img/koala-7830706_1280.jpg);
    padding: 250px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

}
footer{
    padding: 10px;
    background-color: #6ab168;
}
.sect{
    padding: 250px;
    display: flex;
    justify-content: space-evenly;
}
.sect img{
    width: 300px;
    height: auto;
}
.sect h2{
    color: aliceblue;
    font-size: 25px;
}
.sect p {
    color: aliceblue;
    font-size: 18px;
    margin-right: 15px;
}
.koala p{
    font-size: 16px;
    font-weight: 900;
}
header img{
    width: 100px;
    height: auto;
}
section button{
    width: 150px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.579);
    border-radius: 10px;
}
